@use 'src/styles/vars';

.posts {
  max-width: 800px;
  margin: vars.$gutter auto;

  &-title {
    color: vars.$primary-color;
    font-family: vars.$title-font;
    font-weight: vars.$title-font-weight;
    text-transform: uppercase;
    text-align: center;
    font-size: 2em;
    margin-bottom: 0.5em;
  }

  &-list {
    display: flex;
    flex-wrap: wrap;
  }
}

.post {
  width: 100%;
  padding: vars.$gutter;

  @media (min-width: 600px) {
    width: 50%;
  }

  &:hover {
    background-color: vars.$post-hover-color;
  }

  &-title {
    font-family: vars.$title-font;
    font-weight: vars.$title-font-weight;
    font-size: 1.3em;
    color: vars.$title-color;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
  }

  &-category {
    background-color: vars.$primary-color;
    color: vars.$light-color;
    display: inline-block;
    padding: 0.3em 0.7em;
    font-size: 0.8em;
    text-transform: uppercase;
    font-weight: 700;
  }

  &-excerpt {
    margin-top: 0.5rem;
    font-weight: 300;
    color: vars.$post-text-color;
  }
}
