@use 'src/styles/vars';

.menu {
  text-align: center;
  padding: vars.$gutter;
  border-bottom: 1px solid vars.$alt-color;

  &-link {
    margin: 0 1rem;
    cursor: pointer;
    color: vars.$dark-color;

    &:hover,
    &.active {
      color: vars.$primary-color;
    }
  }
}
